header {
    position: sticky;
    top: 0;
    z-index: 1;
}

body{
    font-family: montserrat;
}

/* Navbar Styling */

.navbar {
    background-color: #007CBD;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar > div {
    padding: 15px 100px 15px 100px;
}

.navbar > .collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
}

.nav-item {
    margin-right: 30px;
}

/* Hero Styling */

#hero {
    background-image: url("Assets/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 1024px;
    margin-top: -5%;
}

#hero-text{
    width: 70%;
    margin: 0px auto;
    padding: 27% 0;
}

#hero-text, #regis-text{
    color: white;
    text-align: center;
    align-items: center;
    font-family: montserrat;
}

#hero-text > h4{
    font-size: 24px;
    font-weight: 300;
}

#hero-text > h1{
    font-size: 48px;
    font-weight: 800;
}

#hero2{
    background-image: url("Assets/bg2.png");
    background-size: cover;
    align-items: center;
}

/* About Styling */

#about{
    height: fit-content;
    text-align: center;
}

#about-container{
    width: 70%;
    margin: 0px auto;
    padding: 80px 0px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

#about-image > img{
    width: 80%;
}

#about-text{
    font-family: montserrat;
    text-align: left;
}

/* Mechanism Styling */

#mechanism{
    background-image: url("Assets/bg2.png");
    background-size: cover;
    font-family: montserrat;
    text-align: center;
    margin: 0px auto;
}

#mechanism > img{
    width: 100%;
    text-align: center;
    position: relative;
}

#mechanism-card{
    width: 70%;
    margin: 0px auto;
    padding: 30px 0px;
    text-align: left;
    color: white;
}

#mechanism-card > h2 {
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    margin-top: 80px;
}

.card{
    margin: 20px auto;
}

.card-title{
    font-weight: 600;
}

/* Partner Styling */

#partners{
    text-align: center;
    margin: 30px auto 100px auto;
    font-family: montserrat;
}

#partner-text > h2{
    width: 50%;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 700;
    color: #007CBD;
}

#carousel-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.carousel{
    display: flex;
}

#partner-card{
    width: 14rem;
    height: 7rem;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: grab;
    user-select: none;
}

.card-img-top{
    padding: 10px;
}

#daftar {
    padding: 20px;
    margin: 50px auto 10px auto;
}

#daftar > a {
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

/* Update Styling */

#update{
    font-family: montserrat;
    text-align: center;
    width: 70%;
    margin: 20px auto;
}

#update > h3{
    font-weight: 700;
    text-align: left;
    color: #007CBD;
}

#update-container{
    margin: 0px auto;
    padding: 30px 0 80px 0;
    display: grid;
    align-items: self-start;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}

#update-item > img{
    width: 100%;
}

#news-title, #news-date{
    text-align: left;
}

#news-title{
    margin-top: 10px;
    font-weight: 800;
    font-size: 12px;
}

#news-date{
    color: #7A7B7E;
    font-size: 10px;
}

/* Register Page Styling */

#regis {
    height: 2.5rem;
    background-color: white;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -2px;
}

#regis-text{
    color: white;
    font-family: montserrat;
    padding: 10% 0;
}

#regis > a{
    color: #007CBD;
    text-decoration: none;
    top: 50%;
    bottom: 50%;
}

#list1 {
    color: white;
    font-weight: 500;
}

#regis-text > h1{
    font-size: 48px;
    font-weight: 800;
}

#hero-text > h5{
    font-size: 14px;
    margin: 0px 50px;
    font-weight: 300;
    margin-bottom: 30px;
}

#hero-text > button{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
}

#formcard{
    background-color: white;
    box-shadow: 0px 0px 100px -46px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 100px -46px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 100px -46px rgba(0,0,0,0.59);
    margin: -7% auto 50px auto;
    width: 50%;
    border-radius: 16px;
    z-index: 1;
}

#form {
    padding-top: 20px;
    margin: 0 auto;
    width: 90%;
}

#syarat{
    margin: auto;
}

#send {
    text-align: center;
}

#sendButton{
    margin: 20px auto 30px auto;
    min-width: 50px;
    padding: 2% 20%;
    max-width: 300px;
}

.navbar > div > img {
    height: 2rem;
}

/* Footer Styling */

footer{
    display: flex;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: relative;
}

#footer-items > img {
    margin-top: 20px;
    height: 3rem;
}

#footer-links{
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    gap: 25%;
}

#footer-text{
    flex: 1 1 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    max-width: 65%;
    word-wrap: break-word;
}

#socials{
    height: 21px;
    gap: 30px;
    display: inline-flex;
}

#footer-items > h5{
    margin-top: 30px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 14px */
}